:host{
  display: flex;
    position: relative;
    width: 5000px;
    height: 4000px;
}
.TaskViewerBoard{
    position: relative;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient( /* background color fading left to right , to blend with every others gradient bg */
      to left, 
      transparent, 
      transparent),
    repeating-linear-gradient( /* horizontal white lines hidding a row of dots */
      to bottom,
      transparent 0,
      transparent 80px,
      white 32px,
      white 40px,
      transparent 40px
    ),
    repeating-linear-gradient( /* vertical lines hidding a col of dots */
      to right,
      transparent 0,
      transparent 80px,
      white 1px,
      white 40px,
      transparent 80px
    ),
    radial-gradient( /* dot repeated via background-size */
        circle at 1px 1px,
        #2f4e79 1px,
        transparent 1px,
        transparent 1px
      )
      0 0 / 16px 16px ;
      background-blend-mode: 
      multiply, /* only blend the first layer to keep dots hidden */
      normal, 
      normal, 
      normal;



}


    

.create{
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon{
    font-size: 40px;
  }
  .createMenu{
    position: absolute;
    width: 200px;
    max-height: 0px;
    height: auto;
    overflow: hidden;
    right: 0px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in;

    .menuItem{
      width: 100%;
      border-radius: 10px;
      height: 50px;
      margin: 10px 0 ;
      color: black;
      border: 1px solid black;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menuItem:hover{
     box-shadow: 1px 1px 10px 2px black;
    }
  }

}
.createMenuIsOpen{
   max-height: 500px !important;
   overflow:visible !important;
}