<div #TaskViewerBoard class="TaskViewerBoard">
    <canvas id="canvas"></canvas>

    @for (taskList of taskLists; track $index) {
        <ng-container *ngComponentOutlet="taskList.component  inputs: {taskList:taskList}; "/>
    }

    @for (task of tasks; track $index) {
        <ng-container *ngComponentOutlet="task.component  inputs: {task:task}; "/>
    }
    @for (stickyNote of stickyNotes; track $index) {
        <ng-container *ngComponentOutlet="stickyNote.component  inputs: {stickyNote:stickyNote}; "/>
    }



    <app-context-menu></app-context-menu>
 
    
</div>
<app-modal></app-modal>


<div class="create" (click)="toggleCreateMenu()">
        <div class="icon">+</div>
        <div class="createMenu" [ngClass]="this.isCreateMenuOpen ? 'createMenuIsOpen': ''">
            @for (listItem of createList; track $index) {
                <div class="menuItem" (click)="listItem.click()">
                    {{listItem.title}}
                </div>
            }
        </div>
</div>


<div class="zoom" >
    <div class="zoomB0" (click)="resetZoom()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-restore" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.06 13a9 9 0 1 0 .49 -4.087" /><path d="M3 4.001v5h5" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
    </div>
    <div class="zoomB1" (click)="updateZoom(-0.05)">
        -
    </div>
    <input type="range" min="55" max="145" step="5" (input)="changeZoom()" [(ngModel)]="zoom2" class="slider" id="myRange">
    <div class="zoomB2" (click)="updateZoom(0.05)">
        +
    </div>
</div>

@if(settingsService.userSettings.general.showGoToBoardPosition){
    <div class="boardPosMain" >
        <div class="boardPos">
            x: <input type="text" [(ngModel)]="goToX">
        </div>
        <div class="boardPos">
            y: <input type="text" [(ngModel)]="goToY">
        </div>
        <button (click)="goToBoardPos()" class="button">Go To</button>
    </div>
}
