<div #TaskViewerBoard class="TaskViewerBoard">

    <canvas id="canvas"></canvas>


    @for (task of tasks; track $index) {
        <ng-container *ngComponentOutlet="task.component  inputs: {task:task}; "/>
    }
    @for (taskList of taskLists; track $index) {
        <ng-container *ngComponentOutlet="taskList.component  inputs: {taskList:taskList}; "/>
    }
    @for (stickyNote of stickyNotes; track $index) {
        <ng-container *ngComponentOutlet="stickyNote.component  inputs: {stickyNote:stickyNote}; "/>
    }



    <app-context-menu></app-context-menu>
    <app-task-modal></app-task-modal>
    
</div>
<div class="create" (click)="toggleCreateMenu()">
        <div class="icon">+</div>
        <div class="createMenu" [ngClass]="this.isCreateMenuOpen ? 'createMenuIsOpen': ''">
            @for (listItem of createList; track $index) {
                <div class="menuItem" (click)="listItem.click()">
                    {{listItem.title}}
                </div>
            }
        </div>
</div>


<div class="zoom" >
    <div class="zoomB1" (click)="zoomOut()">
        -
    </div>
    <input type="range" min="1" max="200" (input)="changeZoom()" [(ngModel)]="zoom2" class="slider" id="myRange">
    <div class="zoomB2" (click)="zoomIn()">
        +
    </div>
</div>