<h1 i18n>tasklist links</h1>

@if(taskList.relatesTo){
    {{taskList.relatesTo.title }}

    <button (click)="deleteLink()" i18n>Delete</button>
    <button (click)="goTo(taskList.relatesTo.pos)" i18n>goTo</button>
    
    <h1>
        Tasks
    </h1>
    @for (task of taskList.relatesTo.tasks; track $index) {
        {{task.id}}
        {{task.name}}
    }

}@else{

    <select name="" id="" [(ngModel)]="bind" (change)="view()">
        @for (tasklistEl of globalTaskList; track $index) {
            @if(tasklistEl.id != taskList.id){
                <option [value]="tasklistEl.id">{{ tasklistEl.title}}</option>
            }
        }
    </select>
}