
<div class="mainCalenderView">
<div class="calenderNav">

  <button (click)="switchMonth(-1)">Prev month</button>
  {{this.currentMonth}}
  <button (click)="switchMonth(1)">Next month</button>
  {{this.currentYear}}
</div>
<div class="calender">
  <div class="left">

  </div>
  <div class="right">
    <div class="table" id="calendar">
      <div class="weekDays">
        
        <div class="days">Mon</div>
        <div class="days">Tue</div>
        <div class="days">Wed</div>
        <div class="days">Thu</div>
        <div class="days">Fri</div>
        <div class="days">Sat</div>
        <div class="days">Sun</div>
      </div>
      <div id="calendar-body" class="calendarbody">
      </div>
    </div>
  </div>
</div>
 


    <app-modal></app-modal>
</div>


