
<div class="mainCalenderView">
<div class="calenderNav">
  
</div>
  
  <div class="table" id="calendar">
      <div class="weekDays">
        
        <div class="days" i18n>Mon</div>
        <div class="days" i18n>Tue</div>
        <div class="days" i18n>Wed</div>
        <div class="days" i18n>Thu</div>
        <div class="days" i18n>Fri</div>
        <div class="days" i18n>Sat</div>
        <div class="days" i18n>Sun</div>
      </div>
      <div id="calendar-body" class="calendarbody">
      </div>
    </div>


    <app-modal></app-modal>
</div>


