<h1 i18n>general settings</h1>


<div class="generlSettingsOption">
    <div class="gOption1" i18n>Custom Context Menu </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.customContextMenu"/> </div>
   
</div>
<div class="generlSettingsOption">
    <div class="gOption1" i18n>Show board transition </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.showLoadEffect"/> </div>
</div>
<div class="generlSettingsOption">
    <div class="gOption1" i18n>Show board move to pos </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.showGoToBoardPosition"/> </div>
</div>

<button (click)="changLanguage('en')" class="button">Switch to English</button>
<button (click)="changLanguage('fr')" class="button">Switch to French</button>
<button (click)="changLanguage('es')" class="button">Switch to Spanish</button>