<h1>general settings</h1>


<div class="generlSettingsOption">
    <div class="gOption1">Custom Context Menu </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.customContextMenu"/> </div>
   
</div>
<div class="generlSettingsOption">
    <div class="gOption1">Show board transition </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.showLoadEffect"/> </div>
</div>
<div class="generlSettingsOption">
    <div class="gOption1">Show board move to pos </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="generalSettings.showGoToBoardPosition"/> </div>
</div>
