#contextMenuBody{
    position: absolute;
    width: 250px;
    box-shadow: 0px 0px 17px 2px var(--boardShadow);
    border-radius: 10px;
    height: 400px;
    background-color: var(--bgColor);
    z-index: 999999999;
    display: none;
    .backDrop{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        user-select: none; 
    
    }
    .item:hover{
        background-color: gainsboro;
        color:black;
    }
    .create{
        border-top: 2px solid var(--txtColor);
        position: relative;
        .createMenu{
            display: none;
            flex-direction: column;
            width: 200px;
            /* background-color: gray; */
            box-shadow: 0px 0px 17px 2px var(--boardShadow);
            border-radius: 0px 10px 10px 10px;
            background-color: var(--bgColor);
            color: var(--txtColor);
            height: 200px;
            position: absolute;
            left: 100%;
            top: -50%;
        }
 
    }
    .create:hover{
        .createMenu{
            display: grid;

        }
    }
   
}