

.taskviewerlistbody{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    .headerOption{
      cursor: pointer;
      margin: 0 25px;
    }
  }
  .body{
    width: 100%;

    overflow-y: auto;
  }
}









.main-table-containter{
    margin-top: 50px;
    border-radius:3vmin;
    background-color:#F6F6F4;
    //max-width:900px;
    width:100%;
    overflow-x: auto;
    
      padding: 1rem 1rem;
    box-shadow: 0px 2px 5px 0px #00000033;
  }
  
  .title-table-container{
    display:flex;
    justify-content:space-between;
    margin-bottom:1.20rem;
    align-items:center;
    padding:0rem 1.5rem;
  
  }
  
  .subtitle{
    font-weight:600;
    
  }
  
  .select-button{
    padding:0.45rem 1rem;
    padding-right:1.5rem;
    position:relative;
    border-radius:0.5rem;
    border:2px solid lightgrey;
    font-weight:600;
    border:none;
    box-shadow: 0px 1px 2px 0px #0000003b, -1px 0px 2px 0px   #ffffff33;
  }
  
  .select-button:after{
    content:' ';
    position:absolute;
    height:0.7vmin;
    width:0.7vmin;
    border:1px solid black;
    border-bottom:none;
    border-left:none;
    right:10%;
    top:30%;
    transform:rotate(134deg);
    
  }
  
  .dot{
    height:15px;
    width:15px;
    cursor: pointer;
  }
  .optionTab{
 position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
    .option{
      width: 50px;
      height:50px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .del{
    background-color: rgb(223, 82, 82);
  }
  .dup{
    background-color: rgb(138, 138, 255);
  }
}
  
  table{
    width:100%;
    font-weight:600;
    font-size:1em;
    BORDER-COLLAPSE:COLLAPSE;
    color:#474747;
  }
  
  tr{
    transition:background-color 0.2s;

  }
  tr:hover{
    background-color:#FFFFFD;
   
  }
  td{
    padding:1rem;
    text-transform: capitalize;
    border:none;
  }
  
  td{
    text-align:center;
  }

  
  td:last-child{
    border-radius: 0rem 1.5rem 1.5rem 0rem;
  
  
  }
  
  .icono-texto{
    display:flex;
    ALIGN-ITEMS:CENTER;
  }
  
  .icono-texto>div{
    margin-left:10px;
  }
  .contenedor-svg{
      BACKGROUND-COLOR:#E090C9;
     BORDER-RADIUS:0.7REM;
      PADDING:10PX;
  }
  .dolar{
    height:15px;
    width:15px;
  }
  
  .pendiente{
    background-color:#fde9d3;
    COLOR:#E8AA71;
    PADDING:0.5REM;
    BORDER-RADIUS:0.5REM;
  }
  
  .completado{
      background-color:#E6ECE9;
    COLOR:#80ABA4;
    PADDING:0.5REM;
    BORDER-RADIUS:0.5REM;
  }
  th{
    text-transform: capitalize;
    padding: 0 10px;
    font-weight: 600;
  }
  .cancelado{
      background-color:#F3DEDC;
    COLOR:#CF5858;
    PADDING:0.5REM;
    BORDER-RADIUS:0.5REM;
  }
  
  .otro-dolar{
    background-color:#B3AFEC;
  }
  
  @media (max-width:750px){
    td:nth-child(2){
      display:none;
    }
    
     td:nth-child(3){
      display:none;
    }
  }