<div class="taskviewerlistbody">
  <div class="header">
    <div class="headerOption"(click)="menuSelected = 'task'">
      Tasks
    </div>
    <div class="headerOption" (click)="menuSelected = 'taskList'">
      Task Lists
    </div>
  </div>
  <div class="body">
    @if (menuSelected == "task") {
      <div class="listTasks">
        <div class='main-table-containter' >
          <div class='title-table-container'>
            <div class='subtitle' >Tasks</div>
            <select name="" id="" [(ngModel)]="orderType" (change)="OrderList()">
              <option value="0" i18n >Newest</option>
              <option value="1" i18n>Oldest</option>
            </select>
          </div>
          <div>
            <table>
              <thead>

                  <th i18n>Name</th>
                  <th i18n>descripcion</th>
                  <th i18n>colorTag</th>
                  <th i18n>cardColorTagType</th>

                  <th i18n>options</th>
              </thead>
              <tbody>
      
                  @for (task of tasks; track $index) {
      
                <tr>

                  <td><input type="text" [(ngModel)]="task.name"  name="" id=""></td>
                  <td><input type="text" [(ngModel)]="task.descripcion"  name="" id=""></td>
                  <td> <input type="color" [(ngModel)]="task.colorTag" name="" id=""></td>
                  <td><select [(ngModel)]="task.cardColorTagType">
                      <option value="0">0</option>
                      <option value="1">1</option>
                  </select></td>
                  <td class="optionTab">
                      <div class="option del" (click)="deleteTask(task)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                      </div>
                      <div class="option dup"  (click)="duplicateTask(task)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /><path d="M11 14h6" /><path d="M14 11v6" /></svg>
                      </div>
                 </td>
                </tr>
      
      
              }
              </tbody>
            </table>
          </div>
          
        </div>
        
      </div>
    }
    @if (menuSelected == "taskList") {
    <div class="listTaskLists">
      
   <div class='main-table-containter'>
    <div class='title-table-container'>
      <div class='subtitle' i18n>Tasks</div>
      <button class='select-button' i18n> Recent </button>
    </div>
    <div>
      <table>
        <thead>
            <th></th>
            <th i18n>id</th>
            <th i18n>title</th>
            <th i18n>Relates To</th>
            <th i18n>Locked</th>
        </thead>
        <tbody>
  
            @for (taskList of taskLists; track $index) {
  
          <tr>
            <td (click)="openTasksOf(taskList.id)">+</td>
            <td>{{taskList.id}}</td>
            <td><input type="text" [(ngModel)]="taskList.title"  name="" id=""></td>
              <td> {{taskList.relatesTo?.title ?? ""}}</td>
            <td>{{taskList.isLocked ? "Yes":"No"}}</td>
            <td><svg class='dot' viewBox="0 0 512 512" width="100" title="ellipsis-h">
            <path d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z" />
            </svg> </td>
          </tr>
          @for (task of taskList.tasks; track $index) {
            <tr [class]="'t'+taskList.id" style="display: none;">
              <td><input type="text" [(ngModel)]="task.name"  name="" id=""></td>
              <td><input type="text" [(ngModel)]="task.descripcion"  name="" id=""></td>
              <td> <input type="color" [(ngModel)]="task.colorTag" name="" id=""></td>
            </tr>
          }
  
  
        }
        </tbody>
      </table>
    </div>
    
  </div>
  
    </div>
    }
  
  </div>
  


</div>

