
  
 
  

  
  /* Utilities */
  .container {
    padding: 0 18px;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    margin-block-start: 5rem;
  }
  
  .flexrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flexcol {
    position: relative;
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em;
  }
  
  .flexcol--half {
    flex: 0 0 50%;
    max-width: 50%;
    
    @media (max-width: 576px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  /* slider component */
  .color-slider-container {
      /* border: 4px solid #ffffff; */
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125);
      border-radius: 15px;
      padding: -8rem;
      /* margin-block: 1rem; */
      display: flex;
      flex-direction: column;
  }
  
  .color-slider-title {
    font-size: 1rem;
    font-weight: 600;
    text-align: start;
  }
  
  .color-slider-value {
    font-size: 0.88rem;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .color-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 10px;  
    outline: none;
    margin-block: 1rem;
  }
  
  .color-slider--hue {
    background: linear-gradient(to right,
                  hsl(0, 100%, 50%),
                  hsl(30, 100%, 50%),
                  hsl(60, 100%, 50%), 
                  hsl(90, 100%, 50%),
                  hsl(120, 100%, 50%), 
                  hsl(150, 100%, 50%), 
                  hsl(180, 100%, 50%),
                  hsl(210, 100%, 50%), 
                  hsl(240, 100%, 50%), 
                  hsl(270, 100%, 50%),
                  hsl(300, 100%, 50%),
                  hsl(330, 100%, 50%), 
                  hsl(360, 100%, 50%));
  }
  
  .color-slider--saturation {
    background: linear-gradient(to right,
                  hsl(var(--hue-wildcard), 0%, 50%),
                  hsl(var(--hue-wildcard), 100%, 50%));
  }
  
  .color-slider--lightness {
    background: linear-gradient(to right,
                  hsl(var(--hue-wildcard), 0%, 0%),
                  hsl(var(--hue-wildcard), 0%, 100%));
  }
  
  .color-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border: 2px solid #ffffff;
    cursor: pointer;
    position: relative;
    background: hsl(0, 0%, 50%);
  }
  
  .color-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    background: hsl(0, 0%, 50%);
  }
  
  .color-slider--hue::-webkit-slider-thumb {
    background: hsl(var(--hue-wildcard), 100%, 50%);
  }
  
  .color-slider--hue::-moz-range-thumb {
    background: hsl(var(--hue-wildcard), 100%, 50%);
  }
  
  .color-slider--saturation::-webkit-slider-thumb {
    background: hsl(var(--hue-wildcard), var(--saturation-wildcard), 50%);
  }
  
  .color-slider--saturation::-moz-range-thumb {
    background: hsl(var(--hue-wildcard), var(--saturation-wildcard), 50%);
  }
  
  .color-slider--lightness::-webkit-slider-thumb {
    background: hsl(var(--hue-wildcard), 0%, var(--lightness-wildcard));
  }
  
  .color-slider--lightness::-moz-range-thumb {
    background: hsl(var(--hue-wildcard), 0%, var(--lightness-wildcard));
  }
  
  /* Swatch */
  .swatch {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: hsl(var(--hue-wildcard), var(--saturation-wildcard), var(--lightness-wildcard));
  }