<div class="container">
    <div class="flexrow">
      <div class="flexcol flexcol--half">
        <div class="color-slider-container">
          <div class="color-slider-title"><span>Hue</span></div>
          <input type="range" min="0" max="360" value="180" class="color-slider color-slider--hue" id="slider-hue">
  
          <div class="color-slider-value">
            <div id="current-hue-value"><span>value</span></div>
          </div>
        </div><!--end color slider -->
  
        <div class="color-slider-container">
          <div class="color-slider-title"><span>Saturation</span></div>
  
          <input type="range" min="0" max="100" value="50" class="color-slider color-slider--saturation" id="slider-saturation">
  
          <div class="color-slider-value">
            <div id="current-saturation-value"><span>value</span></div>
          </div>
        </div><!--end color slider -->
  
        <div class="color-slider-container">
          <div class="color-slider-title"><span>Lightness</span></div>
  
          <input type="range" min="0" max="100" value="50" class="color-slider color-slider--lightness" id="slider-lightness">
  
          <div class="color-slider-value">
            <div id="current-lightness-value"><span>value</span></div>
          </div>
        </div><!--end color slider -->
      </div><!--end col -->
      
      <div class="flexcol flexcol--half">
        <div class="swatch"></div>
      </div><!--end col -->
    </div><!--end row -->
  </div><!--end container -->