:host{
    position: absolute;
    user-select: none;
    z-index: 1;
}
.taskListBody{
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px var(--boardShadow);
    padding: 25px;

    .tasks{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
    }


    .taskListHeader{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        text-transform: uppercase;
        padding: 10px;
    }

    .dropBox{
       display: none;
       user-select: none;
       width: 100%;
       background-color: rgba(31, 31, 31, 0.748);
       align-items: center;
       flex-direction: column;
       border-radius: 10px 10px 2px 2px;
       overflow: hidden;
       position: relative;
       opacity: 0;

    }
    .hoverdover{
        opacity: 1;
        display: flex;
        width: 100%;
    .addButton{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: 600;
        }
    
    }

}
