<div class="taskListBody" [style]="{'backgroundColor':taskList.color}" (dblclick)="doubleClick()">  
    
    <div type="text" class="taskListHeader">
        {{taskList.title}}    
    </div>
    <div class="tasks">
        @for (task of taskList.tasks; track $index) {
            <ng-container style="margin: 10px;" *ngComponentOutlet="task.component  inputs: {task:task};"/>
        }
    </div>
  
    <div class="dropBox">
            <div class="addButton ">
                +
            </div>
    </div>


    
</div>