/* Some positioning and ratios */
:host{
  z-index: 100;
}
.sticky-container {
  position: relative;
    width: 100%;
    height: 100%;
}

.sticky-outer {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;
}

.sticky {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: "";
  width: 90%;
  left: 5px;
  height: 75%;
  position: absolute;
  top: 30%;
}


// #resizeMain{

//  width:100%;
// height:100%;
//   position:initial;
//   left :0px;
//  right : 0px;
// background-color: rgba(0, 0, 0, 0.356);
// }


/* The sticky note itself */
.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Kalam", cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}

/* Position the sticky nicely, so it looks better */

:host{
  height:400px;
  width: 400px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;


.resize{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
}
.resize:hover{
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 10px 2px #004aff;
}
.left{
  left:0%;
  top:50%;
  transform: translateY(-50%);
}
.right{
  right:0%;
  top:50%;
  transform: translateY(-50%);
}
.top{
  left:50%;
  top:0%;
  transform: translateX(-50%);
}
.bottom{
  left:50%;
  bottom:0%;
  transform: translateX(-50%);
}


}
.container-inner {
    width: 100%;
 height: 100%;
}
