<div class="container" (dblclick)="openStickyNoteModal()">
    <div class="container-inner">
      <div class="sticky-container">
        <div class="sticky-outer">
          <div class="sticky">
            <svg width="0" height="0">
              <defs>
                <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                  <path
                        d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                        stroke-linejoin="round"
                        stroke-linecap="square"
                        />  
                </clipPath>
              </defs>
            </svg>
            <div class="sticky-content" [ngStyle]="{'backgroundColor':stickyNote.color, 'padding':'15px'}">
          
              @if(!stickyNote.isImageActive || !stickyNote.image){

                <pre  style="   overflow: hidden;
                white-space: pre-wrap;
                overflow-wrap: break-word;">{{stickyNote.descripcion}}</pre> 
              }@else {
                <img draggable="false"  style=" user-select: none; width: 500px; height: 500px;" [src]="stickyNote.image">
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [id]="'resizeMain-'+stickyNote.id" (mousemove)="resize($event)" (mouseup)="resizingMouseUp($event)">

    </div>
    @if (isHoveringOver) {
      
      <div class="resize left"(mouseleave)="resizeMouseLeave($event)"  (mousedown)="resizingMouseDown($event,'left')"  (mouseup)="resizingMouseUp($event)"></div>
      <div class="resize right" (mouseleave)="resizeMouseLeave($event)" (mousedown)="resizingMouseDown($event,'right')" (mouseup)="resizingMouseUp($event)"></div>
      <div class="resize top" (mouseleave)="resizeMouseLeave($event)" (mousedown)="resizingMouseDown($event,'top')"  (mouseup)="resizingMouseUp($event)"></div>
      <div class="resize bottom" (mouseleave)="resizeMouseLeave($event)" (mousedown)="resizingMouseDown($event,'bottom')" (mouseup)="resizingMouseUp($event)"></div>

    }



  </div>