<div class="taskModal" *ngIf="isTaskModalOpen" >
    <div class="closeModal" (click)="closeModal()">

    </div>
    @if(modalOpen == "taskList") {
       
        <div class="contentEditor card">
            @if (taklistcomponent) {
                <ng-container *ngComponentOutlet="taklistcomponent  inputs: this.input;  "/>
            }
        </div>
        <div class="attributePicker card">
            @for (opcion of taskListOpcions; track $index) {
                <div class="taskOpcion" (click)="opcion?.onclick()">
                    {{opcion.title}}
                </div>
            }
        </div>
    
        <div class="closeButton" (click)="closeModal()">
            <p>x</p>
      </div>
    }
    @else if (modalOpen == "task") {
        <div class="contentEditor card">
            @if (component) {
                <ng-container *ngComponentOutlet="component  inputs: this.input; "/>
            }
        </div>
        <div class="attributePicker card">
            @for (opcion of taskOpcions; track $index) {
                <div class="taskOpcion" (click)="opcion?.onclick()">
                    {{opcion.title}}
                </div>
            }
        </div>
    
        <div class="closeButton" (click)="closeModal()">
              <p>x</p>
        </div>
    }
    @else if (modalOpen == "stickyNote") {
        <div class="contentEditor card">
            <ng-container *ngComponentOutlet="stickyNoteComponent  inputs: this.input; "/>
        </div>
    
        <div class="closeButton" (click)="closeModal()">
              <p>x</p>
        </div>
    }
    
    
</div>



