
<div class="taskDetailsBody">
    <div class="nameWrapper">
        <input type="text" class="name" [(ngModel)]="taskList.title" /> 
        <div class="locked" (click)="this.taskList.isLocked = !this.taskList.isLocked">
            @if(this.taskList.isLocked){
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" /><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M8 11v-4a4 4 0 1 1 8 0v4" /></svg>
            }@else {
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M8 11v-5a4 4 0 0 1 8 0" /></svg>
            }
        </div>
        
    </div>
    <div class="divider"></div>
    @if(taskList.tasks.length>0 ){
        <h1 i18n>{{taskList.tasks.length}} Task{{taskList.tasks.length == 1 ? "": 's'}}  <button (click)="taskVisible = !taskVisible"  >Show Tasks</button></h1>
        <div class="tasks" *ngIf="taskVisible">
            @for (task of taskList.tasks; track $index) {
                <div class="task">
                    <div class="taskName">
                        {{task.name}}
                    </div>
                    <div class="deleteTask" (click)="deleteTaskFromTasklist($index)" i18n>
                        Delete
                    </div>
                </div>
            }
        </div>
    }
</div>