.taskDetailsBody{
    display: flex;
    flex-direction: column;
    align-items: center;
.divider{
    width: 100%;
    border: 1px solid #a9a9a9;
    height: 1px;
}

.nameWrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .name{
        text-align: left;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 24px;
        padding: 15px;
        font-weight: 700;
        color: #7b7b7b;
    }
    .locked{
        //this needs to be looked at, like why does 56 turn to 50 in actual page ??????
        width: 56px;
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        color: white;
        background-color: black;
        cursor: pointer;
    }
    
}
.tasks{
    width: 100%;
    .task{
        user-select: none;
        border-radius: 10px;
        background-color: whitesmoke;
        width: 50px;
        width: 100%;
        padding: 10px 10px;
        font-size: 1.2em;
        display: flex;
        position: relative;
        .deleteTask{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 10px;
            color: white;
            font-size: 0.8em;
            padding: 2px 2px;
            background-color: rgb(168, 0, 0);
            border-radius: 5px;
        }
    }
    .task:hover{
        border: 2px solid var(--hoverOver);
    }
}

.description{
    width: 80%;
    height: 200px;
}

}
