:host{
    width: 100vw;
    height: 100vh;
    display: block;
   overflow: hidden;
  }
.animate{
   
    width:  100%;
    position: fixed;
   

    animation: load1 1.2s cubic-bezier(0.9, 0.13, 0.84, 0.15);
}
@keyframes load1 {
    0%{
        height: 100%;
        background-blend-mode: multiply, normal, normal, normal;
        background: linear-gradient(to left, white, white), repeating-linear-gradient(to bottom, transparent 0, transparent 80px, white 32px, white 40px, transparent 40px), repeating-linear-gradient(to right, transparent 0, transparent 80px, white 1px, white 40px, transparent 80px), radial-gradient(circle at 1px 1px, #2f4e79 1px, transparent 1px, transparent 1px) 0 0 / 16px 16px; top:000%;
        z-index: 1000;
    }
    100%{
        height: 0%;
        z-index: 1000;
         }
}
.animate2{
    width: 100%;
    height: 100%;
    position: fixed;
    animation: load 1.2s cubic-bezier(0.9, 0.13, 0.84, 0.15);

    display: none;
    flex-direction: column;
    .part1{
        height: 10%;
        width: 100%;
        background-color: rgb(170, 170, 170);
    }
    .part2{
        height: 15%;
        width: 100%;
        background-color: rgb(123, 123, 123);
    }
    .part3{
        height: 75%;
        width: 100%;
        background-color: rgb(41, 41, 41);
    }
}
@keyframes load {
    0%{

        top:100%;
        z-index: 1000;
      
        display:flex;
    }
    100%{
        top:-200%;
        z-index: 1000;
        display:flex;
    }
}
.openNav{

    position: fixed;
    left: 0px;
    top: 0;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 999999999999999999;
    text-shadow: 0px 0px 5px black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.836);
   
}
.openNav:hover{
    background-color: rgb(0, 0, 0);
}

.nav{
    position: fixed;
    z-index: 999999999999999999;
    width: 400px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);


    .close{
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }


.boardViews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 10px;
    .boardViewsOpcion{
        color: white;
        position: relative;
        font-size: x-large;
        padding:5px 20px;
        cursor: pointer;
        
    }
    .boardOption{
        color: white;
        position: relative;
        font-size: x-large;
        padding:5px 20px;
        transition: all 0.2s ease-in;
        transform: translateX(25px);
    }
    .boardOption:hover{
        transform: translateX(50px);
    }
    .boardOption::after{
        content: "";
        position: absolute;
        width: 0%;
        left: 0;
        transition: all 0.2s ease-in;
        bottom: 0;
        height: 1px;
        background-color: white;
    }
    .boardOption:hover::after{
        width: 100%;
    }
    .boardViewsOpcion::after{
        content: "";
        position: absolute;
        width: 0%;
        left: 0;
        transition: all 0.2s ease-in;
        bottom: 0;
        height: 1px;
        background-color: white;
    }
    .boardViewsOpcion:hover::after{
        width: 100%;
    }
}

}