
<div id="animate" >

</div>

<div id="animate2" >
    <div class="part1"></div>
    <div class="part2"></div>
    <div class="part3"></div>
</div>
@if(this.done){
    
    <div class="openNav" *ngIf="!isNavClosed" (click)="isNavClosed = true">
        o
    </div>
    
    <div class="nav" *ngIf="isNavClosed">
        <div class="close" (click)="isNavClosed = false">
            x
        </div>
        <div class="boardInfo">
    
        </div>
    
        <div class="boardViews">
            @for (opcion of boardViews; track $index) {
                <div class="boardViewsOpcion" (click)="opcion?.onclick()">
                    {{opcion.title}}
                </div>
            }
            <div >
                <div (click)="isQuickBoardSelectOpen = !isQuickBoardSelectOpen" class="boardViewsOpcion" i18n>
                    Starred Boards <span *ngIf="!isQuickBoardSelectOpen"> &downarrow;</span><span *ngIf="isQuickBoardSelectOpen"> &uparrow;</span>
                </div>
                @if(isQuickBoardSelectOpen){
                   @for (board of allBoards; track $index) {
                        @if(board.isStarred){
                            <div class="boardOption" (click)="goToBoard(board.id)">{{board.name}}</div>
                        }
                   }
                }
            </div>
            <div class="boardViewsOpcion" (click)="goToSettings()" i18n>
                Settings
            </div>
            <div class="boardViewsOpcion" (click)="returnToBoardSelction()" i18n>
                Return to boards
            </div>
        </div>
    
    </div>
    
    <ng-container *ngComponentOutlet="component "/>

}    
