<div class="generlSettingsOption">
    <div class="gOption1">HSL colors </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="stylingSettings.HSLColors"/> </div>
</div>
<div class="generlSettingsOption">
    <div class="gOption1">Dark Mode </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="stylingSettings.darkMode"/> </div>
</div>
<div class="generlSettingsOption">
    <div class="gOption1">Custom Styling </div>
    <div class="gOption2"> <input type="checkbox" [(ngModel)]="stylingSettings.customStyles"/> </div>
</div>
@if (stylingSettings.customStyles) {

@for (item of customStylesColors | keyvalue; track $index) {
    {{item.key}} : <input type="color" name="" id="" [(ngModel)]="customStylesColors[item.key+'']">
    <br>
}
<button (click)="updateStyles()">Update Styles</button>
}


