.pinned{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 100px;
    background-color: var(--bgColor);
}
.mainBoardPicker{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 100px;
    background-color: var(--bgColor);
}
    .board{
        width: 300px;
        height: 300px;
        border-radius: 60px;
        cursor: pointer;
        flex-direction: column;
        position: relative;
        background: var(--boardBgColor);
        box-shadow:  28px 28px 67px var(--boardShadow),
                    -28px -28px 67px var(--bgColor);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        .clicker{
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;
            top:0;
        }
        .boardOption{
            width: 40px;
            height: 40px;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: rgb(37, 37, 37);
            color: white;
            position: absolute;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            z-index: 1;
            svg{
                z-index: 1;
            }
        }
        .boardOption::after{
            content: "";
            width: 0%; 
            border-radius: 100%;
            position: absolute;
            height: 0%;
            background-color: rgb(0, 0, 0);
            transition: all 0.2s ease-in-out;
        }
    
        .boardOption:hover::after{
            width: 100%; 
            height: 100%;
        }
        .boardDelete{
            top: 10px;
            right:20px;
        }
        .boardEditName{
            top: 10px;
            left: 80px;
        }
        .boardDuplicate{
            top: 10px;
            right:75px;
        }
        .boardStar{
            top: 10px;
            left:25px;
        }
    }
    .board:hover{
        .boardOption{
            display: flex;
        }
    }
    .board::before{
        content: "";
        position: absolute;
        width:100%;
        height: 100%;
        border: 5px solid rgba(94, 118, 255, 0);
        padding: 10px 10px;
        border-radius: 60px;
        transition: all 0.2s ease-in-out;
    }
    .board:hover::before{
        border: 5px solid rgb(94, 118, 255);
    }
    .createBoard{
        width: 300px;
        height: 300px;
        border-radius: 59px;
        background: var(--boardBgColor);
        box-shadow:  28px 28px 67px var(--boardShadow),
                    -28px -28px 67px var(--bgColor);
        border:5px dashed black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        transition: all 0.05s ease-in;
        cursor: pointer;
        user-select: none;
    }
    .createBoard:hover{
        width: 300px;
        height: 300px;
        scale: 1.1;
        border-radius:60px;
        background: var(--boardBgColor);
        box-shadow:  0px 0px 100px rgba(129, 33, 255, 0.582);
        border:5px dashed rgb(129, 33, 255);
        color: rgb(129, 33, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }


.wip{
    margin:0  20px;
    height:auto;
    width:500px;
    border:2px solid black;
    h5{
        padding: 0px;
        width:30px;
        margin-top:-10px;
        margin-left:5px;
        background:white;
    }
    *{
        padding: 10px;
    }
}



@media only screen and (max-width: 1200px) {
    
.mainBoardPicker{ 
    grid-template-columns: repeat(2,auto);
    }
  }

  @media only screen and (max-width:800px) {
      
  .mainBoardPicker{ 
      grid-template-columns: repeat(1,auto);
      justify-items: center;
    }
}
@media only screen and (max-width:500px) {
      
    .mainBoardPicker{ 
        grid-template-columns: repeat(1,auto);
        justify-items: center;
        .board{
          width:250px;
          height: 250px;
      }
      .createBoard{
        width:250px;
          height: 250px;
      }
      }
  }