
<h1>Boards</h1>
<div class="boardViewsOpcion" (click)="goToSettings()">
    Settings
</div>
<div class="mainBoardPicker">
    @for (board of boards; track $index) {
        <div class="board" (click)="selectBoard(board.id)">
            <button (click)="deleteBoard(board.id)">Delete</button>
                Board {{board.id}}
                
        </div>
    }
    <div class="createBoard" (click)="addBoard()">
        +
    </div>
</div>






    <!-- <h5>WIP</h5>
    <h1>Import boards</h1>

    <input type="file" name="" id=""  (change)="check($event)">
    
    <h1>save boards</h1>
    
    <a [href]="fileUrl" download="file.json">DownloadFile</a>
     -->
