<div class="noteBack" (mousedown)="createNote()"></div>
<div class="noteCreator" (click)="isNoteCreationActive = true">
    <input [(ngModel)]="noteTitle" placeholder="Title" class="title" type="text" name="" id="" />
    <textarea [(ngModel)]="noteDesc" placeholder="Descripcion" class="desc" name="" id="" cols="30" rows="5" style="resize: none;"></textarea>
    <!-- <button class="noteCreatorButton" (click)="createNote()">Create</button> -->
</div>
<div #noteBody class="noteBody">

    <div class="noteGrid">
        <div   [@anim] *ngFor="let note of notes;index as $index">
            
     
                <div class="note list">
                    {{note.title}}
                    <pre>{{note.descripcion}}</pre>
                    <button (click)="deleteNote($index)">Delete</button>
                </div>
                <!-- <app-note [id]="note.id" (mousedown)="pickUpNote(note,$index)" [note]="note"></app-note> -->
            </div>
    </div>
</div>