<div class="noteBack" (mousedown)="createNote()"></div>
<div class="noteCreator" (click)="isNoteCreationActive = true">
    <input [(ngModel)]="noteTitle" placeholder="Title" class="title" type="text" name="" id="" />
    <textarea [(ngModel)]="noteDesc" placeholder="Descripcion" class="desc" name="" id="" cols="30" rows="5" style="resize: none;"></textarea>
    <!-- <button class="noteCreatorButton" (click)="createNote()">Create</button> -->
</div>
<div #noteBody class="noteBody">

    <div class="noteGrid">
        <div [id]="note.id" [@anim] *ngFor="let note of notes;index as $index" class="notes">
            <div  class="movablePart" (mousedown)="grabNote(note,$index,$event)"></div>
                <div class="note list">
                    {{note.title}}
                    <pre>{{note.descripcion}}</pre>
                    <button (click)="deleteNote($index)">Delete</button>
                </div>
                <!-- <app-note [id]="note.id" (mousedown)="pickUpNote(note,$index)" [note]="note"></app-note> -->
        </div>
        <div [id]="'copy'" class="notes" [style]="noteGrabbed ? {'display':'flex'}:{'display':'none'}">
            <div  class="movablePart"></div>
                <div class="note list">
                    @if( noteGrabbed){
                        
                        {{noteGrabbed.title}}
                        <pre>{{noteGrabbed.descripcion}}</pre>
                    }
                </div>
                <!-- <app-note [id]="note.id" (mousedown)="pickUpNote(note,$index)" [note]="note"></app-note> -->
        </div>
    </div>
</div>