:host{
    position: relative;

}
.TaskViewerBoard{
    position: relative;
    width: 1000px;
    height: 1000px;
    background: 
    linear-gradient( /* background color fading left to right , to blend with every others gradient bg */
      to left, 
      transparent, 
      transparent),
    repeating-linear-gradient( /* horizontal white lines hidding a row of dots */
      to bottom,
      transparent 0,
      transparent 80px,
      white 32px,
      white 40px,
      transparent 40px
    ),
    repeating-linear-gradient( /* vertical lines hidding a col of dots */
      to right,
      transparent 0,
      transparent 80px,
      white 1px,
      white 40px,
      transparent 80px
    ),
    radial-gradient( /* dot repeated via background-size */
        circle at 1px 1px,
        #2f4e79 1px,
        transparent 1px,
        transparent 1px
      )
      0 0 / 16px 16px ;
      background-blend-mode: 
      multiply, /* only blend the first layer to keep dots hidden */
      normal, 
      normal, 
      normal;
}


    
