/* You can add global styles to this file, and also import other style files */


@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --base_text: "Poppins", sans-serif;
    --base_weight:400;
    --bgColor:white;
    --txtColor:black;
    --navColor:rgba(0, 0, 0, 0.764);
    --buttonBgColor:black;
    --buttonTxtColor:white;
    --boardBgColor:#e0e0e0;
    --boardShadow:#8f8f8f;
    --hoverOver: rgb(94, 118, 255);
}
.darkmode{
    --base_text: "Poppins", sans-serif;
    --base_weight:400;
    --bgColor:#202124;
    --txtColor:rgb(255, 255, 255);
    --navColor:rgba(255, 255, 255, 0.691);
    --buttonBgColor:white;
    --buttonTxtColor:black;
    --boardBgColor:#474747;
    --boardShadow:black;
    --hoverOver: rgb(94, 118, 255);
}
.custom{
    --base_text: "Poppins", sans-serif;
    --base_weight:400;
    --bgColor:#202124;
    --txtColor:rgb(255, 255, 255);
    --navColor:rgba(255, 255, 255, 0.691);
    --buttonBgColor:white;
    --buttonTxtColor:black;
    --boardBgColor:#474747;
    --boardShadow:black;
    --hoverOver: rgb(94, 118, 255);
}




*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--base_text);
    font-weight: var(--base_weight);
    
}
html,body{
    height: 100%;
}


