:host{
    display: flex;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 154, 255);
    position: fixed;
}