
.taskModal{
    width: 100vw;
    height: 100vh;
    left:0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 9999999999;
    display: flex;
    align-items: center;
    justify-content: space-around;



    .card{
      background-color: whitesmoke;
      flex: 1;
      height: 80%;
      box-shadow: 0px 0px 20px 5px rgb(73, 73, 73);
      border-radius: 1%;
      margin: 25px;
    }
  .styleEditor{

  }
.contentEditor{
  flex: 2;
  height: 90%;
}

.attributeEditor{
 
}



    .closeButton{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;  
      top: 25px;
      right: 50px;
     
      p{
        color: white;
        font-size: 50px;
        font-weight: 100;
        font-family: monospace;
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: end;
        z-index: 9999999999;
      }
    }
    .closeButton::before{
      content: "";
      position: absolute;
      width: 0%;
      height: 0%;
      transition: all 0.1s ease-in;
      border-radius: 100%;
      background-color: rgba(3, 3, 3, 0.788);
    }
    .closeButton:hover::before{
      width: 100%;
      height: 100%;
    }


  }