<div class="taskModal" *ngIf="isTaskModalOpen">
    <div class="contentEditor card">
        @if (component) {
            <ng-container *ngComponentOutlet="component  inputs: {task:task};  "/>
        }
    </div>
    <div class="attributePicker card">
        @for (opcion of taskOpcions; track $index) {
            <div class="taskOpcion" (click)="opcion?.onclick()">
                {{opcion.title}}
            </div>
        }
    </div>

    <div class="closeButton" (click)="isTaskModalOpen = false">
          <p>x</p>
    </div>
</div>



